# Prepare for Documentation
lxml>=4.9.1 
pyyaml
nyaml==0.2.3

# Documentation building
sphinx>=5,<9
sphinx-tabs>=3.4
sphinx-toolbox>=3.5
sphinx_comments
# chios
sphinx-gallery>=0.18
matplotlib
h5py

# Testing
pytest

# Code style and auto-formatting
black==26.3.1
flake8==7.3.0
isort==8.0.0
pre-commit

