# Prepare for Documentation
lxml>=4.9.1 
nyaml @ git+https://github.com/FAIRmat-NFDI/nyaml.git@59-split-tests-for-forwards-and-backwards-direction
pyyaml

# Documentation building
sphinx>=5
sphinx-tabs
sphinx-toolbox
sphinx_comments
chios
sphinx-gallery>=0.18
matplotlib
h5py

# Testing
pytest

# Code style and auto-formatting
black==26.3.1
flake8==7.3.0
isort==8.0.0
pre-commit

